################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/factory-x-summer-internship-2025/v17/.wsuo
/.vs/factory-x-summer-internship-2025/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/.vs/factory-x-summer-internship-2025/v17
/.vs/factory-x-summer-internship-2025/FileContentIndex
/.vs/factory-x-summer-internship-2025/CopilotIndices/17.14.734.62261
/.vs
