@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Nav

<AuthorizeView Roles="Admin">
    <Authorized>
        @ChildContent
    </Authorized>
    <NotAuthorized>
        @if (!checkedAuth)
        {
            <p>Checking authorization...</p>
        }
        else
        {
            Nav.NavigateTo("/notAuthorized", forceLoad: true);
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private bool checkedAuth = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        checkedAuth = authState.User.Identity?.IsAuthenticated == true;
    }
}
