@page "/contracts"
@using AMI.EduWork._2025.Domain.Interfaces.Service
@using AMI.EduWork._2025.Domain.Models.ContractModel
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Contracts</PageTitle>

<h1>Contracts</h1>

<p>CRUD operations on contracts</p>

@if (_contractGetByIdModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a href="/contracts/add">Add contracts</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IsActive</th>
                <th>HourlyRate</th>
                <th>WorkingHour</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var model in _contractGetByIdModel) 
            {
                <tr>
                    <td>@model.Id</td>
                    <td>@model.IsActive</td>
                    <td>@model.HourlyRate</td>
                    <td>@model.WorkingHour</td>
                    <input type="button" value="Delete" class="btn btn-danger" @onclick="(async () => await DeleteContract(model.Id))" />
                    <input type="button" value="Update" class="btn btn-info" @onclick="(async () => await UpdateContract(model.Id))" />

                </tr>
            }
        </tbody>
    </table>
}
@inject IContractService icontractService
@code {
    private List<ContractGetModel>? _contractGetByIdModel;

    protected override async Task OnInitializedAsync()
    {
        IEnumerable<ContractGetModel>? contractGetByIdModel = await icontractService.GetAll();
        _contractGetByIdModel = contractGetByIdModel.ToList();

    }

    private async Task DeleteContract(string id)
    {
        await icontractService.Delete(id);
        ContractGetModel? contractGetByIdModel = _contractGetByIdModel?.FirstOrDefault(x => x.Id==id);
        if (contractGetByIdModel is not null) _contractGetByIdModel!.Remove(contractGetByIdModel);
    }
    private async Task UpdateContract(string contractId)
    {
        NavigationManager.NavigateTo($"/contracts/update/{contractId}");
    }
}
